@media (max-width: 768px) {

    /* Adjust the widget's width and positioning for smaller screens */
    .rcw-widget-container {
        max-width: 50%;
        max-height: 50%;
        bottom: 10%;
        right: 10%;
    }

}

@media (max-width: 450px) {

    .rcw-widget-container {
        max-width: 50%;
        max-height: 50%;
        bottom: 15%;
        right: 45%;
    }

}

.rcw-launcher {
    background-color: #00b073;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.rcw-launcher:hover {
    background-color: #69b99d;
}

.rcw-title {}


/* .rcw-header {}

.rcw-messages-container {}

.rcw-message {}

.rcw-sender {}

.rcw-send {}

.rcw-loading {}

.rcw-client-message {}

.rcw-response {}

.rcw-avatar {} */